body
        {
            background-color: #2B2E4A;
        }

        hr
        {
            border-color: #e84545;
            border-style: none;
            border-width: 5px;
            width: 5%;
            border-style: dotted none none;
        }

        h1, h3
        {
            color: #e84545;
        }